<div class="welcome-text1">
    <h1>Welcome to Storyboard!</h1>
</div>

<div class="story">
    <div class="story-img-right">
        <img src="/image/The Living Legacy.jpg"/>
    </div>
    <div class="story-text">
        <h1>A Living Legacy</h1>
        <p>Explore the nature of weathering and erosion.</p>
        <a class="button button11" href="~/A Living Legacy.html">Start now</a>
    </div>
</div>

<div class="story">
    <div class="story-img-left">
        <img src="/image/Lab.jpg"/>
    </div>
    <div class="story-text">
        <h1>Experiment Time!</h1>
        <p>Deepen your understanding of voltage, current, and resistance with this story of experiment.</p>
        <a class="button button12" href="./A Living Legacy.html">Start now</a>
    </div>
</div>

<button class="button button10" id="btn" onclick='recognition.start()'>
    <img src="/image/microphone.png" width="90" height="80"/>Talk to Scientia
</button>
<script src="./dist/js/Voice Command.js"></script>

<div class="chat">
    <img src="/image/Chat icon.png" />
    <div class="chat-content">
        <a href="/chat/individual.php">Individual</a>
        <a href="/chat/group.php">Group</a>
        <a href="/chat/global.php">Global</a>
    </div>
</div>