[<div class="forms d-flex justify-content-center align-items-center vh-100">
    <div class="col-12 col-md-8">
        <form name="register" method="post">
            <input type="hidden" name="requestingToRegister">
            <div class="card" id="register">
                <div class="card-body">
                    <h4 class="card-title">Register</h4>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <input type="text" class="form-control bg-dark text-white" name="fname" id="" required>
                                <small class="form-text">First Name</small>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <input type="text" class="form-control bg-dark text-white" name="lname" id=""required>
                                <small class="form-text">Last Name</small>
                            </div>
                        </div>
                    </div>
                    <!-- email input -->
                    <div class="mb-3">
                        <input type="text" class="form-control bg-dark text-white" name="email" id="" aria-describedby="emailHelpId" placeholder=""required>
                        <small id="emailHelpId" class="form-text">Email</small>
                    </div>
                    <!-- username input -->
                    <div class="mb-3">
                        <input type="text" class="form-control bg-dark text-white" name="username" id="" aria-describedby="emailHelpId" placeholder=""required>
                        <small id="emailHelpId" class="form-text">Username</small>
                    </div>
                    <!-- password input -->
                    <div class="mb-3">
                        <input type="password" class="form-control bg-dark text-white" name="password" id="" aria-describedby="helpId" placeholder=""required>
                        <small id="helpId" class="form-text">Password</small>
                    </div>
                    <!-- submit button -->
                    <div class="d-flex align-items-center justify-content-start gap-4">
                        <input type="submit" value="Register" class="button btn-register">
                        <a class="login" href="/login">Login</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
    
<style>
    body{
        background-image: url('/public/image/lagrohigh.jpg'); 
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .btn-register {
        background-color: transparent;
        border: 2px solid #00ffff;
        color: white;
    }

        .btn-register:hover {
            background-color: #00ffff;
            color: black;
            transform: translateY(5%);
        }
</style>
]