
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card col-12 col-md-11 h-75" id="global-chat">
        <div class="card-body card-body-textarea h-100 overflow-auto">
            <div class="d-flex align-items-center justify-content-center w-100 h-100">
                <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <form name="sendMessageForm">
                <div class="row">
                    <div class="col-12 col-md-10">
                        <div class="form-floating">
                            <input id="inputMessageText" class="form-control" placeholder="Leave a comment here" id="floatingTextarea">
                            <label for="floatingTextarea">Send message</label>
                        </div>
                    </div>
                    <div class="col">
                        <input type="submit" class="button btn-send h-100 w-100" value="Send">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>